---
import { ViewTransitions } from "astro:transitions";
import { styled as p } from "panda/jsx";
import { SEO } from "astro-seo";
import { token } from "panda/tokens";
import { type PageManifest as Props } from "@/lib/types/page";
import { INFO } from "@/lib/config";
import Footer from "@/components/Footer.astro";
import { HamburgerMenu } from "@/components/HamburgerMenu";
import { Header } from "@/components/_Header.tsx"; // `_` を取ると謎のエラーが出ますw

import "@/styles/global.css";
import "@/styles/fonts.css";
import "@/styles/transitions.css";

const { seo, style, header } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content="{Astro.generator}" name="generator" />
    <link href="/sitemap-index.xml" />
    <SEO
      description={seo?.description ?? ""}
      title={seo?.title ?? ""}
      titleTemplate={`%s | ${INFO.name.short}`}
      twitter={{
        creator: INFO.addr.sns.x,
        card: "summary_large_image",
      }}
    />
    <title>{INFO.name.short}</title>
  </head>

  <p.body
    display="grid"
    gridTemplateColumns="100%"
    gridTemplateRows="auto 1fr auto"
    h="100%"
    minHeight="100vh"
    style={{
      backgroundColor: token(style?.bgColor ?? "colors.9u-white"),
    }}
    w="100%"
  >
    <ViewTransitions />
    <Header client:load {...header} />
    <HamburgerMenu client:load {...header} />
    <p.main h="100%" m="0 auto" w="100%">
      <slot />
    </p.main>
    <Footer />
  </p.body>

  <script is:inline>
    const elems = document.querySelectorAll("h2 > a, h3 > a");
    elems.forEach((elem) => {
      elem.addEventListener("click", () => {
        const id = elem.getAttribute("href").replace("#", "");
        void navigator.clipboard.writeText(
          document.location.origin + document.location.pathname + "#" + id
        );
      });
    });
  </script>
</html>
