---
import { ViewTransitions } from "astro:transitions";
import { styled as p } from "panda/jsx";
import { SEO } from "astro-seo";
import { token } from "panda/tokens";
import { type PageManifest as Props } from "@/lib/types/page";
import { INFO } from "@/lib/config";
import Footer from "@/components/Footer.astro";
import { HamburgerMenu } from "@/components/HamburgerMenu";
import { Header } from "@/components/_Header.tsx"; // `_` を取ると謎のエラーが出ますw

const { seo, style, header } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content="{Astro.generator}" name="generator" />
    <link href="/sitemap-index.xml" />
    <SEO
      description={seo?.description ?? ""}
      title={seo?.title ?? ""}
      titleTemplate={`%s | ${INFO.name.short}`}
      twitter={{
        creator: INFO.addr.x,
        card: "summary_large_image",
      }}
    />
    <title>{INFO.name.short}</title>
  </head>

  <p.body
    display="grid"
    gridTemplateColumns="100%"
    gridTemplateRows="auto 1fr auto"
    h="100%"
    minHeight="100vh"
    style={{
      backgroundColor: token(style?.bgColor ?? "colors.9u-white"),
    }}
    w="100%"
  >
    <ViewTransitions />
    <Header client:load {...header} />
    <HamburgerMenu client:load {...header} />
    <p.main h="100%" m="0 auto" w="100%">
      <slot />
    </p.main>
    <Footer />
  </p.body>

  <script is:inline>
    const elems = document.querySelectorAll("h2 > a, h3 > a");
    elems.forEach((elem) => {
      elem.addEventListener("click", () => {
        const id = elem.getAttribute("href").replace("#", "");
        void navigator.clipboard.writeText(
          document.location.origin + document.location.pathname + "#" + id,
        );
      });
    });
  </script>

  <style is:global>
    @font-face {
      font-family: "LINE Seed JP";
      src: url("/fonts/LINESeedJP_OTF_Rg.otf") format("opentype");
      font-weight: 500;
      font-display: swap;
    }
    @font-face {
      font-family: "LINE Seed JP";
      src: url("/fonts/LINESeedJP_OTF_Bd.otf") format("opentype");
      font-weight: bold;
      font-display: swap;
    }

    @font-face {
      font-family: "UDEV Gothic 35 JPDOC";
      src: url("/fonts/UDEVGothic35JPDOC-Bold.ttf") format("truetype");
      font-display: swap;
    }

    :root {
      --font-line: "LINE Seed JP", sans-serif;
      --font-udev: "UDEV Gothic 35 JPDOC", monospace;
    }

    /* font */
    html {
      font-size: var(--font-sizes-lg);
      scroll-padding-top: 130px; /* header height */
    }

    body {
      font-family: var(--font-line);
      font-feature-settings: "palt";
      color: var(--colors-9u-brown);
    }

    pre,
    code {
      font-family: var(--font-udev);
    }

    /* list */
    ul,
    menu,
    dir {
      display: block;
      list-style-type: disc;
      padding-left: 1.3rem;
    }
    ol {
      display: block;
      list-style-type: decimal;
      padding-left: 1.3rem;
    }
    li {
      display: list-item;
    }
    ul ul,
    ol ul {
      list-style-type: circle;
    }
    ol ol ul,
    ol ul ul,
    ul ol ul,
    ul ul ul {
      list-style-type: square;
    }

    table {
      border: 1px solid;
      th,
      td {
        border: 1px solid;
        padding: var(--spacing-3);
      }
      th {
        border-bottom: 2px solid;
      }
    }

    article,
    .content {
      margin: 0 auto;
      padding-inline: var(--spacing-20);
    }

    .content {
      max-width: 1600px;
    }
    article {
      max-width: 1200px;
    }

    h2,
    h3 {
      position: relative;

      &:hover {
        a {
          opacity: 0.6;
        }
      }

      > a {
        opacity: 0;
        cursor: pointer;
        position: absolute;
        left: calc(-1 * var(--spacing-6));
        padding-right: var(--spacing-6);
        transition: opacity 0.1s;
      }
    }

    /* 768px = md */
    @media (width < 768px) {
      html {
        font-size: var(--font-sizes-md);
        scroll-padding-top: 60px; /* header height */
      }
      article {
        padding-inline: var(--spacing-5);
      }
      .content {
        padding-inline: var(--spacing-10);
      }
      h2 > a,
      h3 > a {
        display: none;
      }
    }

    lite-youtube,
    lite-vimeo {
      min-width: 300px;
      width: 50vw;
      max-width: none !important;
    }
  </style>
</html>
