@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/LINESeedJP_OTF_Rg.otf") format("opentype");
  font-weight: 500;
  font-display: swap;
}
@font-face {
  font-family: "LINE Seed JP";
  src: url("/fonts/LINESeedJP_OTF_Bd.otf") format("opentype");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "UDEV Gothic 35 JPDOC";
  src: url("/fonts/UDEVGothic35JPDOC-Bold.ttf") format("truetype");
  font-display: swap;
}

::view-transition-old(root) {
  animation: none;
}
::view-transition-new(root) {
  animation: none;
}

:root {
  --font-line: "LINE Seed JP", sans-serif;
  --font-udev: "UDEV Gothic 35 JPDOC", monospace;
}

html {
  font-size: var(--font-sizes-lg);
}

body {
  font-family: var(--font-line);
  color: var(--colors-9u-brown);
}

pre,
code {
  font-family: var(--font-udev);
}

article {
  max-width: 1600px;
  width: 100%;
  margin: 0 auto;
  padding-inline: var(--spacing-20);
}

@media (width < 768px) {
  article {
    padding-inline: var(--spacing-10);
  }
}
