---
import { ViewTransitions } from "astro:transitions";
import { styled as p } from "panda/jsx";
import { SEO } from "astro-seo";
import { token } from "panda/tokens";
import { type PageManifest as Props } from "@/lib/types/page";
import { INFO } from "@/lib/config";
import Footer from "@/components/Footer.astro";
import { Header } from "@/components/Header";

const { seo, style, header } = Astro.props;
---

<html lang="ja">
  <head>
    <meta charset="utf-8" />
    <link href="/favicon.svg" rel="icon" type="image/svg+xml" />
    <meta content="width=device-width" name="viewport" />
    <meta content="{Astro.generator}" name="generator" />
    <link href="/sitemap-index.xml" />
    <link href="/styles/global.css" rel="stylesheet" />
    <SEO
      description={seo?.description ?? ""}
      title={seo?.title ?? ""}
      titleTemplate={`%s | ${INFO.name.short}`}
      twitter={{
        creator: INFO.name.twitter,
        card: "summary_large_image",
      }}
    />
    <title>{INFO.name.short}</title>
  </head>

  <p.body
    display="grid"
    gridTemplateColumns="100%"
    gridTemplateRows="auto 1fr auto"
    h="100%"
    minHeight="100vh"
    style={{
      // ↓ なぜ？
      // eslint-disable-next-line @typescript-eslint/no-unsafe-argument
      backgroundColor: token(style?.bgColor ?? "colors.9u-white"),
    }}
    w="100%"
  >
    <ViewTransitions />
    <p.header>
      <Header client:load {...header} />
    </p.header>
    <p.main h="100%" m="0 auto" w="100%">
      <slot />
    </p.main>
    <p.footer>
      <Footer />
    </p.footer>
  </p.body>


</html>
