:root {
  --font-line: "LINE Seed JP", sans-serif;
  --font-udev: "UDEV Gothic 35 JPDOC", monospace;
  --scrollbar-width: 0px;
}

/* font */
html {
  font-size: var(--font-sizes-lg);
  scroll-padding-top: 130px; /* header height */
}

/* fix scroll bar */
html:has(div[role="alertdialog"]) {
  padding-right: var(--scrollbar-width);
}

body {
  font-family: var(--font-line);
  font-feature-settings: "palt";
  color: var(--colors-9u-brown);
}

pre,
code {
  font-family: var(--font-udev);
}

button {
  cursor: pointer;
}

/* list */
ul,
menu,
dir {
  display: block;
  list-style-type: disc;
  padding-left: 1.3rem;
}
ol {
  display: block;
  list-style-type: decimal;
  padding-left: 1.3rem;
}
li {
  display: list-item;
}
ul ul,
ol ul {
  list-style-type: circle;
}
ol ol ul,
ol ul ul,
ul ol ul,
ul ul ul {
  list-style-type: square;
}

table {
  border: 1px solid;
  th,
  td {
    border: 1px solid;
    padding: var(--spacing-3);
  }
  th {
    border-bottom: 2px solid;
  }
}

article,
.content {
  margin: 0 auto;
  padding-inline: var(--spacing-20);
}

.content {
  max-width: 1600px;
}
article {
  max-width: 1200px;
}

h2,
h3 {
  position: relative;

  &:hover {
    a {
      opacity: 0.6;
    }
  }

  > a {
    opacity: 0;
    cursor: pointer;
    position: absolute;
    left: calc(-1 * var(--spacing-6));
    padding-right: var(--spacing-6);
    transition: opacity 0.1s;
  }
}

/* 768px = md */
@media (width < 768px) {
  html {
    font-size: var(--font-sizes-md);
    scroll-padding-top: 60px; /* header height */
  }
  article {
    padding-inline: var(--spacing-5);
  }
  .content {
    padding-inline: var(--spacing-10);
  }
  h2 > a,
  h3 > a {
    display: none;
  }
}

lite-youtube,
lite-vimeo {
  max-width: unset !important;
}

:not(.code-block > pre)::-webkit-scrollbar {
  display: none;
}

.code-block > pre {
  &::-webkit-scrollbar {
    height: 5px;
    width: 5px;
    border-radius: 10px;
  }
  &::-webkit-scrollbar-thumb {
    background-color: var(--colors-9u-white);
    border-radius: 10px;
  }
  &::-webkit-scrollbar-corner {
    display: none;
  }
}
